# Ignore virtual environment
venv/
ENV/
.env/

# Ignore Python cache
__pycache__/
*.py[cod]
*.pyo

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore requirements.txt
requirements.txt

# Ignore system files
.DS_Store
Thumbs.db
